body {
  background: rgba(50, 50, 50);
}

h1{
  color: rgb(250, 69, 211);
  text-align: left;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}

.play-button {
  display: grid;
  background-color:white;
  font-size: 50px;
  text-align: center;
  align-content: center;
}

h3{
  text-align: center;
  font-size: large;
}

.whole-table {
  display: grid;
  grid-auto-flow: column;
}

.piano-column {
  display: grid;
  height: 100%;
  width: 100%;
}
  
.key {
  margin: 0 2px;
}

.white {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 255, 60);
}

.gray {
  background-color: gray;
  border: 2px solid red;
}

.black {
  background-color: rgb(22, 22, 22);
  color: white;
  border: 2px solid rgb(255, 0, 0);
}

.quarter {
  border-right: 3px solid yellow;
}

.octave {
  border-bottom: 4px dashed purple;
}

div[selected="1"] {
  color: gold;
}

div[selected="2"] {
  color: magenta;
}